.signup-container {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 40px;
}

.signup-form-button {
    width: 100%;
    margin-top: 15px;
}

.signup-form-button[disabled], .signup-form-button[disabled]:hover, .signup-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}

.signup-form input {
    margin-bottom: 3px;
}

.association {
    margin-left: 30px;
}

.house {
    margin-left: 60px;
    margin-bottom: 30px;
}

.contact {
    margin-left: 60px;
    margin-bottom: 30px;
}

.error {
    color: #db2269;
    font-size: 0.625em;
    display: relative;
}

.pull-right {
    float: right;
}

.dddd {
    padding-top: -10px;
}